.app {
    /* background-color: rgb(184, 183, 183); */
    color: rgb(29, 28, 28);
    height: calc(100vh - 100px);
    padding: 20px;
}

h1 {
    color: orange;
}

h1 i {
    color: orange;
    transform:rotate(30deg);
    /* display: inline-block; */
}